<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh-Hans</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>kaku-gui</string>
	<key>CFBundleIdentifier</key>
	<string>fun.tw93.kaku</string>
	<key>OSAScriptingDefinition</key>
	<string>Kaku.sdef</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Kaku</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.12.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>0.12.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>fun.tw93.kaku</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kaku</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIconFile</key>
	<string>terminal.icns</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSMainNibFile</key>
	<string></string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Kaku</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<string>NO</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>An application launched via Kaku would like to access AppleScript.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>An application launched via Kaku would like to access calendar data.</string>
	<key>NSCameraUsageDescription</key>
	<string>An application launched via Kaku would like to access the camera.</string>
	<key>NSContactsUsageDescription</key>
	<string>An application launched via Kaku wants to access your contacts.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>An application launched via Kaku would like to access your location information, even in the background.</string>
	<key>NSLocationUsageDescription</key>
	<string>An application launched via Kaku would like to access your location information.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>An application launched via Kaku would like to access your location information while active.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>An application launched via Kaku would like to access your microphone.</string>
	<key>NSRemindersUsageDescription</key>
	<string>An application launched via Kaku would like to access your reminders.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>An application launched via Kaku would like to access your Documents folder.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>An application launched via Kaku would like to access your Downloads folder.</string>
	<key>NSSystemAdministrationUsageDescription</key>
	<string>An application launched via Kaku requires elevated permission.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>An application launched via Kaku would like to access the local network.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>An application launched via Kaku would like to use Bluetooth.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Terminal shell script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeIconFile</key>
			<string>terminal.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>command</string>
				<string>sh</string>
				<string>zsh</string>
				<string>bash</string>
				<string>fish</string>
				<string>tool</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folders</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Shell</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.unix-executable</string>
			</array>
		</dict>
	</array>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMessage</key>
			<string>openInKakuService</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>New Kaku Tab Here</string>
			</dict>
			<key>NSPortName</key>
			<string>fun.tw93.kaku</string>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>public.plain-text</string>
			</array>
			<key>NSRequiredContext</key>
			<dict/>
		</dict>
		<dict>
			<key>NSMessage</key>
			<string>openInKakuWindowService</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>New Kaku Window Here</string>
			</dict>
			<key>NSPortName</key>
			<string>fun.tw93.kaku</string>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>public.plain-text</string>
			</array>
			<key>NSRequiredContext</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
